.gaye{
    height: 300px;
    width: 500px;
    border: 20px solid greenyellow;
    margin: 50px;
    padding:50px;
    margin-top:100px;
    box-sizing: content-box;
    background-color: aqua;
}
.p{
    text-align: left;
}